body{
    background: #000;
}

.box{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 600px;
    height: 600px;
}

.box::before{
    content: " ";
    position: absolute;
    width: 400px;
    height: 200px;
    background : #009958;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 30%;
}

.pole{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    left: 50%;
    height: 400px;
    background-color: #f5f5f5;
}

.blade::after{
    content: " ";
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 20px;
    background-color: #f5f5f5;
    clip-path: polygon(20% 0, 0 100%, 100% 100%); 
}

.blade{
    position: absolute;
    width: 20px;
    height: 10px;
    background: #f5f5f5;
}

.blade.one{
    top: 140px;
    left: 305px;
}

.blade.two{
    top: 150px;
    left: 275px;
    transform: rotate(120deg);
}

.blade.three{
    transform: rotate(240deg);
    top: 120px;
    left: 290px;
}

.blade-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    animation: rotateBlades 6s infinite linear;
}

.blade-wrapper::after{
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 125px;
}

@keyframes rotateBlades {
    0%{
        transform: translateX(-50%);
        transform-origin: 50% 140px;
    }

    100%{
        transform: translateX(-50%) rotate(360deg);
        transform-origin: 50% 140px;
    }
}